/* наводим курсор на кнопки*/
QPushButton:hover {
    min-width: 16 px;
    min-height: 20 px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #4763FF, stop:1 #00FF00);
    border-radius: 5px;
}

QPushButton {
    min-width: 16 px;
    min-height: 20 px;
    color: white;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #C0C0C0, stop:1 #00A5FF);
    border-radius: 5px;
}

QPushButton:pressed {
    border: 2px solid white;
    border-radius: 5px;
}

/* центральный элемент слайдера */
QSlider::handle:vertical {
    height: 10px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #00FFFF, stop:1 #0000FF);
    margin: 0 -4px;
    border-radius: 5px;
}

QSlider:handle:horizontal {
    height: 10px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #00FFFF, stop:1 #0000FF);
    margin: 0 -4px;
    border-radius: 5px;
}

QLabel {
    color: white;
    font-family: "Comic Sans MS";
}

.SoundPlayer {
    background: qlineargradient(x1:0, y:0, x2:1, y:0, stop:0 #000000, stop:0.5 #255, stop:1 #000000);
    border: 2px solid white;
    border-radius: 20px;
}

/*дизайн Repeat*/
QCheckBox {
   spacing: 5px;
   font-family: "Comic Sans MS";
   color: white;
   min-width: 10px;
}

QCheckBox:indicator {
   width: 13px;
   height: 13px;
   background: #FAFAFF;
   border-radius: 3px;
}

QCheckBox:indicator:checked {
    background: green; /*Lime*/
    border: 1px solid #F0FFF0;
    spacing: 10px;
}




